.modal {
    .modal-content > .btn-close {
        @include absolute(0,0);
        z-index: 77;
        margin: 6px;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        background-color: #f3f3f3;
    }
}
.modal-backdrop {
    background-color: rgba(#000, .6);
    backdrop-filter: blur(1rem);
    &.show {
        opacity: 1;
    }
}