block layers
	.banner-lg.block-bg(style="background-image: url('css/skin/slider/"+banner_image+"')")
		.container.d-flex.align-items-center.h-100
			.text-banner
				h1.tt-md.text-uppercase=title
				block breadcrumb
