section.home-slider-o
    .home-slider
        .carousel-cell
            .img-slide: +img('slider/slider_01.jpg')
            //- .container.absolute.d-flex.text-center
            //-     .text-slider
            //-         .tt-lg Reusable JavaScript UI Component Library
            //-         .desc Beautiful, modern overlay windows for presenting various types of media
        .carousel-cell
            .img-slide: +img('slider/slider_02.jpg')
        .carousel-cell
            .img-slide: +img('slider/slider_02.jpg')
        .carousel-cell
            .img-slide: +img('slider/slider_03.jpg')
        .carousel-cell
            .img-slide: +img('slider/slider_04.jpg')
    .container.absolute.d-flex.text-slider-static 
        .textbox.wow.fadeInUp
            h1.tt-xl CÔNG TY CỔ PHẦN XÂY DỰNG FBV
            .desc Là một thành viên của Tập đoàn Đất Xanh, FBV thừa hưởng những giá trị kết tinh tốt đẹp nhất của một tập đoàn tư nhân hàng đầu Việt Nam, đang ngày càng phát triển cùng với sự lớn mạnh chung của tập đoàn.
            .more.lh-sm
                +a('about.html', 'text-link')
                    | Xem thêm
                    span.far.fa-chevron-right.ml-2 