.grid-news {
    display: grid;
    grid-gap: 12px;
    grid-template-columns: calc(50% - 6px) calc(50% - 6px);

    &-item {
        &:first-child {
            grid-column: 1/span 2;
            .tt {
                font-size: var(--tt2, 18px);
                font-weight: 600;
                letter-spacing: -.75px;
                color: darken($primary, 15%);
            }
            .thumb-res {
                margin-bottom: 1rem;
            }
        }
    }
    .tt {
        @include ellips(3);
        margin-bottom: 1rem;
        font-weight: 500;
    }
    .thumb-res {
        margin-bottom: .75rem;
    }
    .block:hover {
        .tt {
            color: $danger;
        }
    }
}
@include media-breakpoint-up(md) {
    .grid-news {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;

        &-item:first-child {
            grid-row: 1/span 2;
            --tt2: calc(20px + .25vw);
            --thumb-res-wide: 72%;
        }
        .tt {
            margin-bottom: 0;
        }
    }
}





.list-news {
    --tt: 18px;
    
    .tt {
        color: darken($primary, 16%);
        letter-spacing: -.75px;
        font-weight: 500;
    }
    .desc {
        @include ellips(3);
        color: $desc;
    }
    .thumb-res,
    img {
        border-radius: $border-radius;
    }
    .thumb-res {
        transition: all 0.3s ease;
    }
    .col-12 {
        margin-bottom: 2.25rem;
    }
    .block:hover {
        .tt {
            color: #d00;
        }
        .thumb-res {
            transform: translateY(-3px);
        }
    }
}
@include media-breakpoint-up(md) {
    .list-news {
        padding-top: 1.5rem;
        border-top: 1px solid #eee;
        .block {
            display: flex;
            align-items: flex-start;
        }
        .thumb-res {
            flex: 0 0 auto;
            width: var(--thumb-width, 36%);
            padding-bottom: calc(var(--thumb-width, 36%) * 0.58);
            margin: 0 1.25rem 0 0;
        }
    }
}
@include media-breakpoint-up(xl) {
    .list-news {
        padding-top: 2rem;
        --tt: 20px;
        --thumb-width: 40%;
        .info {
            padding-top: .75rem;
        }
    }
}
@include media-breakpoint-up(xxl) {
    .list-news {
        --tt: calc(1.375rem + .125vw);
        .thumb-res {
            margin-right: 2rem;
        }
    }
}



// news sidebar
.sidebar {
    .pane + .pane {
        margin-top: 1.25rem;
    }
}
// list news sidebar
.sidebar .pane + .pane {
    margin-top: 2rem;
}
.pane-list {
    .thumb {
        width: 105px;
        height: 65px;
        flex: 0 0 auto;
        margin-right: .75rem;
    }
    .tt {
        margin: 0;
        font-weight: 400;
        line-height: 1.5;
        @include ellips(2);
    }
    .block {
        align-items: center;
    }
    .block + .block {
        margin-top: 1.25rem;
    }
    .thumb, img {
        border-radius: $border-radius;
    }
    .block:hover {
        .tt {
            color: $danger;
        }
    }
}
