extends template/template
block vars
    - title = '404'
    - menu_active = ''
    - wrapper_class = ''
    - wrapper_id = ''
    - home_slider = false
    - banner_top = false
    - banner_image = 'banner.jpg'
    - login = false

append breadcrumb 
    +breadcrumb({}, title)
block mainer
    main.mainer
        .container.py-5 
            .row.align-items-center.mb-45
                .col-md-6.col-xl-5.order-md-2.pe-lg-6
                    .page-404.d-flex.align-items-center.justify-content-center
                        .content.text-center.text-md-left.pb-4
                            .heading ERROR
                            .tt-sm Whoops! Page not found
                            p.mb-4 Liên kết vừa truy cập không còn khả dụng, có thể trang đã được di chuyển, đổi tên hoặc không tồn tại. Chúng tôi rất tiếc về sự cố này và sẽ cố gắng khắc phục trong thời gian sớm nhất, trân trọng!
                            a(href="index.html").text-decoration-none.hover-link.fw-semibold
                                span.mr-2.bi.bi-house-door
                                | Về trang chủ

                .col-md-6.col-xl-7.order-md-1.text-center
                    img(src="css/skin/404.jpg" alt="")