.form-search {
	@include absolute(0,0,0,0);
	padding: 8px;
	background: #fafafa;
	z-index: 981;
	display: flex;
	visibility: hidden;
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.35s ease;
	transform: scale(.9);
    align-items: center;
    
	.form-control {
		border-width: 0;
		border-radius: 0;
		font-size: 16px;
		padding: 0 40px 0 10px;
		height: 40px;
		background: transparent;
		&:focus {
			box-shadow: none;
			border-color: $primary;
			@include placeholder-focus;
		}
	}
	.form-group {
		flex: 1 1 auto;
	}
	.fa-times {
		padding: 0 0 2px;
		font-weight: 400;
		border: none;
		background: transparent !important;
		width: 30px;
		height: 35px;
		text-align: center;
		&:before {
			content: '\f053';
		}
		&:hover,
		&:focus {
			background: transparent;
		}
	}
	.addon.fa-search,
	.icon-submit {
		@include absolute(0,0,0);
		opacity: .7;
		border: none;
		background-color: transparent;
		text-decoration: none;
		display: flex;
		align-items: center;
		padding: 0 8px;
		color: $dark;
		text-shadow: none;
	}
	.open,
	&.active {
		visibility: visible;
		transform: none;
		opacity: 1;
		.dropdown-sug {
			height: 65vh;
			overflow-y: auto;
			transition: height .75s ease 0.1s;
		}
	}

	#close-search {
		margin-left: .5rem;
		padding-left: 1rem;
		border-left: 1px solid #eee;
	}

	#searchwait {
		@include absolute(7px, 35px);
		width: 25px;
		height: 25px;
		background: url('skin/loading.gif') no-repeat center center;
	}
}
.dropdown-sug {
	@include absolute(100%,0,null,0);
	background: #fff;
	z-index: 777;
    border-radius: 0 0 10px 10px;
	overflow: hidden;
	height: 0;

	.item {
		display: inline-block;
		width: 100%;
		margin: 0 !important;
		padding: .75rem 1.5rem;
		position: relative;
		color: $color-body;
		border-top: 1px solid #f0f0f0;
	}
	.thumb {
		width: 45px;
		height: 45px;
		float: left;
		margin: 3px 12px 0 0;
	}
	.tt {
		margin: 0;
		font-weight: 500;
		@include ellips(2);
	}
	.price {
		color: $danger;
		font-weight: 500;
		&-sale {
			margin-right: 5px;
		}
		&-origin {
			font-size: 85%;
			color: $gray-600;
		}
	}
	img {
		border-radius: 4px;
	}
	.text-not {
		padding: .75rem 1.5rem;
		font-style: italic;
		color: #999;
		border-top: 1px solid #eee;
	}
	.item:hover {
		background: #f9f9f9;
		.info {
			color: $primary;
		}
	}
}
@mixin form-search-static($width: 300px, $bg:#f8f8f8, $border:1px solid rgba(#000,.1), $radius: 4px) {
	position: relative;
	padding: 0;
	margin: 0;
	visibility: visible;
	transform: none;
	transition: none;
	opacity: 1;
	background: transparent;
	.toggle-form-search {
		display: none;
	}
	.form-control,
	.form-select {
        border: $border;
        background: $bg;
        border-radius: $radius;
        width: $width;
        height: 44px;
        &:focus {
        	border-color: $secondary;
        	background: #fff;
        }
	}
	.addon.fa-search {
		padding: 0 14px;
	}
	#close-search {
		display: none;
	}
}